{% extends "base.html" %}
{% load static %}
{% block maincontent %}
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Add ILL Connection Fiber Details</h2>
    </div>
</header>
<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'threesaillconnections'%}">ThreesaILLConnections</a></li>
        <li class="breadcrumb-item">Threesa IIL Connection Fiber Details</li>
        <li class="breadcrumb-item active">Add</li>
    </ul>
</div>
<!--Create User Form-->
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Add ILL Connection Fiber Details</h3>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                            {%csrf_token%}    
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Connection Id</label>
                                <div class="col-sm-9">
                                    {{objfn.conn_code}}
                                    {{form.conn_code}}
                                    {% if form.conn_code.errors %}
                                    <small class="help-block-none">{{form.conn_code.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Assigned Date and time</label>
                                <div class="col-sm-9">
                                    {{objfn.assign_date_time}}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Media Image</label>
                                <div class="col-sm-9">
                                    {{form.media_img}}
                                    {% if form.media_img.errors %}
                                    <small class="help-block-none">{{form.media_img.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Switch Image</label>
                                <div class="col-sm-9">
                                    {{form.switch_img}}
                                    {% if form.switch_img.errors %}
                                    <small class="help-block-none">{{form.switch_img.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Port</label>
                                <div class="col-sm-9">
                                    {{form.port_media_type}}
                                    {% if form.port_media_type.errors %}
                                    <small class="help-block-none">{{form.port_media_type.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Fiber Core</label>
                                <div class="col-sm-9">
                                    {{form.fiber_core}}
                                    {% if form.fiber_core.errors %}
                                    <small class="help-block-none">{{form.fiber_core.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">POP Name</label>
                                <div class="col-sm-9">
                                    {{form.pop_name}}
                                    {% if form.pop_name.errors %}
                                    <small class="help-block-none">{{form.pop_name.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>

                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Assign NOC Engineer</label>
                                <div class="col-sm-9">
                                    {{form.assign_noc}}
                                    {% if form.assign_noc.errors %}
                                    <small class="help-block-none">{{form.assign_noc.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>

                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Assign Status</label>
                                <div class="col-sm-9">
                                    {{form.assign_status}}
                                    {% if form.assign_status.errors %}
                                    <small class="help-block-none">{{form.assign_status.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-3">
                                    <a href="{% url 'threesaillconnections' %}" class="btn btn-secondary">Cancel</a>
                                    <input type="submit" name="submit" value="save" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock maincontent %}