{% extends "base.html" %}
{% load static %}
{% block maincontent %}
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Add OHF & UGF Link</h2>
    </div>
</header>
<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'ohfandugf'%}">Overall OHF & UGF</a></li>
        <li class="breadcrumb-item">Fiber Details</a></li>
        <li class="breadcrumb-item active">Add</li>
    </ul>
</div>
<!--Create User Form-->
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Add OHF & UGF Fiber Details</h3>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Link Code</label>
                                <div class="col-sm-9">
                                    {{objnn.link_code}}
                                    {{form.link_code}}
                                    {% if form.link_code.errors %}
                                    <small class="help-block-none">{{form.link_code.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Assign Date and Time</label>
                                <div class="col-sm-9">
                                    {{objnn.assign_date_time}}
                                    {{form.assign_date_time}}
                                    {% if form.assign_date_time.errors %}
                                    <small class="help-block-none">{{form.assign_date_time.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Core Details</label>
                                <div class="col-sm-9">
                                    {{form.core_details}}
                                    {% if form.core_details.errors %}
                                    <small class="help-block-none">{{form.core_details.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Core Color</label>
                                <div class="col-sm-9">
                                    {{form.core_color}}
                                    {% if form.core_color.errors %}
                                    <small class="help-block-none">{{form.core_color.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Distance</label>
                                <div class="col-sm-9">
                                    {{form.distance}}
                                    {% if form.distance.errors %}
                                    <small class="help-block-none">{{form.distance.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">OTDR Value</label>
                                <div class="col-sm-9">
                                    {{form.otdr}}
                                    {% if form.otdr.errors %}
                                    <small class="help-block-none">{{form.otdr.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Assign Billing</label>
                                <div class="col-sm-9">
                                    {{form.assign_billing}}
                                    {% if form.assign_billing.errors %}
                                    <small class="help-block-none">{{form.assign_billing.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Assign Status</label>
                                <div class="col-sm-9">
                                    {{form.assign_status}}
                                    {% if form.assign_status.errors %}
                                    <small class="help-block-none">{{form.assign_status.errors}}</small>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-3">
                                    <a href="{% url 'ohfandugf' %}" class="btn btn-secondary">Cancel</a>
                                    <input type="submit" name="submit" value="save" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock maincontent %}