{% extends "base.html" %}
{% load static%}
{% load user_tags %}
{%block blockjs%}
<script type="text/javascript">
$(document).ready(function() {

    //for billing history modal
    var modalDiv = $("#modal-div");
    $(".open-modal").on("click", function() {
        $.ajax({
            type: 'GET',
            url: $(this).attr("data-url"),
            success: function(data) {
                modalDiv.html(data);
                $("#mybilling").modal();
            }
        });
    });

    //for Operator Registration
    $('#orpicker').daterangepicker({
        autoUpdateInput: false,
        locale: {
            format: 'YYYY-MM-DD',
            cancelLabel: 'Clear',
        },
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right'
    }, function(start, end) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));

    });
    $('#orpicker').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
        $('#orstrd').val(picker.startDate.format('YYYY-MM-DD'));
        $('#orendd').val(picker.endDate.format('YYYY-MM-DD'));

    });
    $('#orpicker').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
        $('#orstrd').val('');
        $('#orendd').val('');

    });

    //for Package Activation
    $('#pspicker').daterangepicker({
        autoUpdateInput: false,


        locale: {
            cancelLabel: 'Clear'
        },
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right'
    }, function(start, end) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        $('#psstrd').val(start.format('YYYY-MM-DD'));
        $('#psendd').val(end.format('YYYY-MM-DD'));
    });
    $('#pspicker').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
        $('#psstrd').val(picker.startDate.format('YYYY-MM-DD'));
        $('#psendd').val(picker.endDate.format('YYYY-MM-DD'));
    });
    $('#pspicker').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
        $('#psstrd').val('');
        $('#psendd').val('');
    });

    //for Package Activation
    $('#pepicker').daterangepicker({
        autoUpdateInput: false,


        locale: {
            cancelLabel: 'Clear'
        },
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right'
    }, function(start, end) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        $('#pestrd').val(start.format('YYYY-MM-DD'));
        $('#peendd').val(end.format('YYYY-MM-DD'));
    });
    $('#cepicker').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
        $('#pestrd').val(picker.startDate.format('YYYY-MM-DD'));
        $('#peendd').val(picker.endDate.format('YYYY-MM-DD'));
    });
    $('#cepicker').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
        $('#pestrd').val('');
        $('#peendd').val('');
    });



    $('input[type="checkbox"]').click(function() {
        var id2 = $(this).attr("id");
        valhtml = $("label[for=" + id2 + "]").html();

        if ($(this).is(":checked")) {
            $("#termhtml" + id2 + "").html(valhtml);
        } else {
            $("#termhtml" + id2 + "").html("");
        }
    });

});
</script>
{% endblock%}
{% block maincontent %}
<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Operator Details</h2>
    </div>
</header>
<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
        <li class="breadcrumb-item active">Operator Details</li>
    </ul>
</div>
<div class="leftrightscroll">
    <button id="left-button">&#8249;</button>
    <button id="right-button">&#8250;</button>
</div>
<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="icon icon-search"></div>
                            <input type="text" class="form-control" placeholder="search here" name="searchqry">
                            <input type="hidden" name="page" value="1">
                            <input type="hidden" name="num_page" value="{{rowcount}}">
                            <div class="input-group-append">
                                <input type="submit" class="btn btn-primary" value="Go!" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h3 class="h4">Operator Details</h3>
                                </div>
                                {% if request.user.is_staff or request.user|has_group:"operatormanager" %}
                                <div class="col">
                                    <a type="button" id="closeCard3" class="btn btn-primary" href="{% url 'addnetoperator' %}" style="float: right;">ADD</a>
                                </div>
                                {%endif%}
                            </div>
                            <div class="row">
                                <form class="form-inline" method="GET">
                                    <div class="form-group form-gr-margin">{{connfilter.form.operator_id}}</div>
                                    <div class="form-group form-gr-margin">
                                        <input type="text" id="orpicker" name="orpicker" {%if connfilter.form.orstrd.value and connfilter.form.orendd.value%}value="{{connfilter.form.orstrd.value}} {{connfilter.form.orendd.value}}" {%else%}{%endif%}class="mr-2 form-control" placeholder="Operator Registration" autocomplete='off' />
                                        {{connfilter.form.orstrd}}
                                        {{connfilter.form.orendd}}
                                    </div>
                                    <!---<div class="form-group form-gr-margin">
                                        <input type="text" id="pspicker" name="pspicker" {%if connfilter.form.psstrd.value and connfilter.form.psendd.value%}value="{{connfilter.form.psstrd.value}} {{connfilter.form.psendd.value}}" {%else%}{%endif%} class="mr-2 form-control" placeholder="Payment Start Date" autocomplete='off' />
                                        {{connfilter.form.psstrd}}
                                        {{connfilter.form.psendd}}
                                        
                                    </div>
                                    <div class="form-group form-gr-margin">
                                        <input type="text" id="pepicker" name="pepicker" {%if connfilter.form.pestrd.value and connfilter.form.peendd.value%}value="{{connfilter.form.pestrd.value}} {{connfilter.form.peendd.value}}" {%else%}{%endif%} class="mr-2 form-control" placeholder="Payment End Date" autocomplete='off' />
                                        {{connfilter.form.pestrd}}
                                        {{connfilter.form.peendd}}
                                    </div>--->
                                    <div class="form-group form-gr-margin">
                                        {{connfilter.form.zones}}</div>
                                    <div class="form-group form-gr-margin">
                                        {{connfilter.form.operator_dealer}}</div>
                                    <div class="form-group form-gr-margin">
                                        {{connfilter.form.active_status}}</div>
                                    <input type="hidden" name="page" value="1">
                                    <input type="hidden" name="num_page" value="{{rowcount}}">
                                    <div class="form-group form-gr-margin"><input type="submit" class="btn btn-primary" value="Filter"></div>
                                    <div class="form-group form-gr-margin"><a href="?" class="btn btn-primary">Clear</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                {% if objop_all.has_other_pages %}
                                <div class="pagination">
                                    {% if objop_all.has_previous %}
                                    <a href="{% relative_url objop_all.previous_page_number 'page' rowcount 'num_page' request.GET.urlencode %}">&laquo;</a>
                                    {% else %}
                                    <a class="disabled"><span>&laquo;</span></a>
                                    {% endif %}
                                    {% for i in objop_all.paginator.page_range %}
                                    {% if objop_all.number == i %}
                                    <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                                    {% else %}
                                    {%if objop_all.number|add:"-1" == i or objop_all.number|add:"-2" == i or objop_all.number|add:1 == i or objop_all.number|add:2 == i or forloop.first or forloop.last %}
                                    <a href="{% relative_url i 'page' rowcount 'num_page' request.GET.urlencode %}">{% if forloop.first %}First{%elif forloop.last%}Last{%else%}{{ i }}{%endif%}</a>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% if objop_all.has_next %}
                                    <a href="{% relative_url objop_all.next_page_number 'page' rowcount 'num_page' request.GET.urlencode %}">&raquo;</a>
                                    {% else %}
                                    <a class="disabled"><span>&raquo;</span></a>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-4 pagination-itemsperp">
                                <form name="myFormItemsPerPage" method="get">
                                    <label><span class="sipe">Show</span><span class="sipe"><select id="num_page" name="num_page" class="form-control num_page">
                                                {% for x, y in itemperform.fields.num_page.choices %}
                                                <option value="{{ x }}" {% if rowcount == x %} selected{% endif %}>{{ y }}</option>
                                                {% endfor %}
                                            </select></span><span class="sipe">entries</span></label>
                                    {% if itemperform.num_page.errors %}
                                    <small class="help-block-none">{{itemperform.num_page.errors}}</small>
                                    {% endif%}
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>Operators ID</th>
                                        <th>Operators Name</th>
                                        <th>Registration Date</th>
                                        <th>Zones</th>
                                        <th>Dealer</th>
                                        <th>Contact Person Name</th>
                                        <th>Contact Person Number</th>
                                        <th>KYC</th>
                                        <th>Fiber Details</th>
                                        <th>NOC Details</th>
                                        <th>Billing Details</th>
                                        {% if request.user.is_staff or request.user|has_group:"operatormanager" or request.user|has_group:"billingteam" %}
                                        <th>Renew Billing</th>
                                        {%endif%}
                                        <th>status</th>
                                        <th>Billing History</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for objnetop in objnetop_all %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td><a href="{%url 'editnetoperator' objnetop.id %}">{{objnetop.operator_id}}</a></td>
                                        <td>{{objnetop.operator_name}}</td>
                                        <td>{{objnetop.Operator_register}}</td>
                                        <td>{%for opz in objnetop.zones.all %}{{ opz.zone_name}}<br>{%endfor%}</td>
                                        <td>{{objnetop.operator_dealer}}</td>
                                        <td>{{objnetop.op_contact_pname}}</td>
                                        <td>{{objnetop.op_contact_pnum}}</td>
                                        <td><a href="{{objnetop.op_kyc.url}}" target="_blank">view</a></td>
                                        <td>{% if objnetop.op_fiber_code %}<a href="{% url 'editnetopfiber' objnetop.op_fiber_code.id %}">Fiber Details</a>
                                            {% endif %}</td>
                                        <td>{% if objnetop.op_noc_code %}<a href="{% url 'editnetopnoc' objnetop.op_noc_code.id %}">NOC Details</a>
                                            {% endif %}</td>
                                        <td>{% if objnetop.op_billing_code %}<a href="{% url 'editnetopbill' objnetop.op_billing_code.id %}">Billing Details</a>
                                            {% endif %}</td>
                                        {% if request.user.is_staff or request.user|has_group:"operatormanager" or request.user|has_group:"billingteam" %}
                                        <td>
                                            {%if objnetop.op_billing_code %}
                                            <a href="{% url 'renewnetopbill' objnetop.op_billing_code.id %}" class="btn btn-primary">Renew</a>
                                            {% else %}
                                            NA
                                            {% endif %}
                                        </td>
                                        {%endif%}
                                        <td>{{objnetop.get_active_status_display}}</td>
                                        <td>
                                            <a class="btn btn-primary open-modal" data-url="{%url 'netopbillhistory' objnetop.operator_id %}" style="color:#fff;">Billing&nbspHistory</a>
                                            <div id="modal-div"></div>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-8">
                                {% if objop_all.has_other_pages %}
                                <div class="pagination">
                                    {% if objop_all.has_previous %}
                                    <a href="{% relative_url objop_all.previous_page_number 'page' rowcount 'num_page' request.GET.urlencode %}">&laquo;</a>
                                    {% else %}
                                    <a class="disabled"><span>&laquo;</span></a>
                                    {% endif %}
                                    {% for i in objop_all.paginator.page_range %}
                                    {% if objop_all.number == i %}
                                    <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                                    {% else %}
                                    {%if objop_all.number|add:"-1" == i or objop_all.number|add:"-2" == i or objop_all.number|add:1 == i or objop_all.number|add:2 == i or forloop.first or forloop.last %}
                                    <a href="{% relative_url i 'page' rowcount 'num_page' request.GET.urlencode %}">{% if forloop.first %}First{%elif forloop.last%}Last{%else%}{{ i }}{%endif%}</a>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% if objop_all.has_next %}
                                    <a href="{% relative_url objop_all.next_page_number 'page' rowcount 'num_page' request.GET.urlencode %}">&raquo;</a>
                                    {% else %}
                                    <a class="disabled"><span>&raquo;</span></a>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-4">
                                <form method="POST" style="float: right;">
                                    {%csrf_token%}
                                    <input type="hidden" name="exportexcel" value="exportexcel">
                                    <input type="submit" class="btn btn-secondary" value="Export Excel">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock maincontent%}